
.App {
  margin: 0% 0% 0% 0%;
  text-align: center;


  
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .0002s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

.gameImg{
  width: 100%;
  height: 100%;
  margin-top: 5px;
  outline: oldlace ridge thin;
}

.gameCard{
  display: inline-block;
  height: 500px;
  background-repeat: no-repeat;
  /* background-position: center0%; */
  float: left;
  margin: 1.5%;
  padding: 2%;
  transition: 0.75s;
  overflow-x: auto;
  flex: 0 0 auto;
  opacity: 1;
  width: 500px;
  height: 90%;  
  
  margin-right: 20px;
  text-align: center;
}
.gameHead{
  outline: rgb(134, 65, 8) ridge ; 
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

nav{
  height: 100px;
}

.consleText{
  margin: .1px;
  font-size: small;
}

.grid{
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

video{
  width: 90%;
}

.card{
  outline:  rgb(134, 65, 8) ridge thick;
  margin-left: 10px;
  height: 90%;
}

.card-body{
  overflow-x: auto; 

}